{% extends 'general/base.html' %}

<!--TITULO-->
{% block title %}Create Artist{% endblock %}
<!--CONTENIDO-->
{%block content%}
<h1>Artist</h1>

<div class="row">
  <form class="row g-3" method="post">
    {% csrf_token %}

    <div class="col-12 my-3">
      <label for="id_name" class="form-label">Name</label>
      {{form.name}}
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">
        <span class="fa-solid fa-save"></span> Save
      </button>
    </div>
  </form>
</div>
{%endblock%}
