@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
}

header {
  height: 70vh;
  background-color: #b7144e;
}

#titulo {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 5vh;
  font-weight: 900;
  display: none;
}

nav {
  background-color: #b7144e;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

h2 {
  color: #14b788;
  font-weight: 700;
}

a {
  color: white;
}
