@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
}

header {
  height: 100vh;
  background-color: #b7144e;
}

nav {
  background-color: #b7144e;
}

h2 {
  color: #b7144e;
  font-weight: 700;
}

a {
  color: white;
}

body,
html {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}
.big-text {
  font-family: "Montserrat", sans-serif;
  color: #b7144e;
  font-weight: 800;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

#Logo {
  display: none;
  height: 30vh;
}

#intro,
#Formulario {
  min-height: 100vh;
}

#projects,
#intro {
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
}
