{% extends "general/base.html" %} {% block content%} {% if action == 'check' %}
<h1>Chequeando Equipo</h1>
<form method="post">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row mb-3">
          <label for="serial" class="col-sm-2 col-form-label">Serial</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="serial" name="serial" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="serial" class="col-sm-2 col-form-label">Rut</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="rut" name="rut" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="action" value="check" />
  <button type="submit" class="btn btn-primary">Check Equipo</button>
</form>
{% endif %} {% if action == 'create_order' %}
<h2>Creado Orden</h2>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="create_order" />
  <input type="hidden" name="equipment_id" value="{{ equipment.id }}" />
  <div class="row mb-3">
    <label for="description" class="col-sm-2 col-form-label">descripción</label>
    <div class="col-sm-10">
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
      ></textarea>
    </div>
  </div>
  <div class="row mb-3">
    <label for="employee_id" class="col-sm-2 col-form-label">descripción</label>
    <div class="col-sm-10">
      <select
        class="form-select"
        aria-label="Default select example"
        id="employee_id"
        name="employee_id"
      >
        {% for employee in employees %}
        <option value="{{ employee.id }}">{{employee.get_full_name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>
{% endif %} {% if action == 'change_owner' %}
<h1>Update Owner</h1>
<form method="post" data-check="aca">
  {% csrf_token %}
  <input type="hidden" name="equipment_id" value="{{ equipment.id }}" />

  <input type="hidden" name="action" value="change_owner" />
  {% if user == None %}
  <div class="row mb-3">
    <label for="rut" class="col-sm-2 col-form-label">Rut</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="rut" name="rut" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="first_name" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        id="first_name"
        name="first_name"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="last_name" class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        id="last_name"
        name="last_name"
      />
    </div>
  </div>
  {% endif %} {% if user != None %}
  <input type="hidden" name="user_id" value="{{ user.user_id }}" />
  <p>
    Esta seguro de cambiar el equipo serial Nº {{ equipment.serial }} al nuevo
    propietario {{ user.user.get_full_name }}
  </p>
  {% endif %}
  <button type="submit">Cambiar Propietario</button>
</form>
{% endif %} {% if action == 'create_equipment' %}
<div class="container">
  <div class="row">
    <div class="col">
      <form class="row g-3" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.user_id }}" />
        <input type="hidden" name="action" value="create_equipment" />
        <div class="col-md-6">
          <label for="id_brand" class="form-label">Marca</label>
          {{ form.brand }}
        </div>
        <div class="col-md-6">
          <label for="id_model" class="form-label">Modelo</label>
          {{ form.model }}
        </div>
        <div class="col-12">
          <label for="id_serial" class="form-label">Serial</label>
          {{ form.serial }}
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Crear Equipo</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
