{% extends "general/base.html" %} {% load static %} {% block content%}
<h1>Listado de ordenes</h1>
<a class="btn btn-primary my-2 float-end" href="{% url 'orders:check_create'%}"
  >Crear Orden</a
>
<table class="table" id="orders_list">
  <thead>
    <tr>
      <th scope="col">Id Orden</th>
      <th scope="col">Rut</th>
      <th scope="col">Cliente</th>
      <th scope="col">Serial</th>
      <th scope="col">Estado</th>
      <th scope="col">Empleado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div
  class="modal fade"
  id="order_detail"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Detalle de al Orden
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" method="post" id="form-detail">
          {% csrf_token %}
          <input type="hidden" id="detail_id" name="detail_id" />
          <input type="hidden" id="action" name="action" value="create" />
          <div class="col-12">
            <label for="description" class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
            />
          </div>
          <div class="col-md-6">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price" name="price" />
          </div>
          <div class="col-md-6">
            <label for="tax" class="form-label">Impuesto</label>
            <input type="number" class="form-control" id="tax" name="tax" />
          </div>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>

        <table class="table mt-5" id="orders_details">
          <thead>
            <tr>
              <th scope="col">Descripción</th>
              <th scope="col">Price</th>
              <th scope="col">Impuesto</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/orders/scripts.js' %}"></script>
{% endblock %}
