{% extends 'general/base.html' %}

<!--CONTENIDO-->
{%block content%}
<h1>Listado de Ordenes</h1>

<a
  class="btn btn-primary my-2 float-end"
  href="{%  url 'orders:check_create' %}"
  >Create Orders</a
>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>RUT</th>
      <th>Cliente</th>
      <th>Serial</th>
      <th>Estado</th>
      <th>Empleado</th>
    </tr>
  </thead>
  <tbody>
    {% for element in orders %}
    <tr>
      <td>{{element.id}}</td>
      <td>{{element.owner_rut}}</td>
      <td>{{element.owner_name}}</td>
      <td>{{element.equipment.serial}}</td>
      <td>{{element.get_status_display}}</td>
      <td>{{element.employee.get_full_name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%} {% load static %}
<!--SCRIPT JS-->
{% block scripts %}
<script src="{% static 'js/scripts.js' %}"></script>

{%endblock%}
