{% extends 'base.html' %} {% block title%} ABOUT{% endblock %}

<!---->
{%block content%}
<h1>ABOUT</h1>

<div class="row">
  <div class="col">
    <p>
      Auctor elit sed vulputate mi. Magna ac placerat vestibulum lectus mauris
      ultrices eros in cursus. Vitae congue mauris rhoncus aenean vel elit
      scelerisque mauris. Sagittis nisl rhoncus mattis rhoncus. Diam maecenas
      sed enim ut.
    </p>
    <p>
      Nulla aliquet enim tortor at auctor urna nunc id cursus. Sed pulvinar
      proin gravida hendrerit. Metus dictum at tempor commodo ullamcorper a
      lacus. Ac tincidunt vitae semper quis lectus. Scelerisque varius morbi
      enim nunc faucibus a pellentesque sit amet. In aliquam sem fringilla ut
      morbi tincidunt. Penatibus et magnis dis parturient montes nascetur
      ridiculus mus mauris.
    </p>
  </div>
  <div class="col">
    <iframe
      width="425"
      height="350"
      src="https://www.openstreetmap.org/export/embed.html?bbox=-44.39193248748779%2C-9.091375714475731%2C-44.335627555847175%2C-9.051327946022635&amp;layer=mapnik"
      style="border: 1px solid black"
    ></iframe
    ><br /><small
      ><a href="https://www.openstreetmap.org/#map=15/-9.07135/-44.36378"
        >Ver el mapa más grande</a
      ></small
    >
  </div>
</div>
{% endblock %}
