{% extends 'base.html' %} {% block title%} Bienvenidos{% endblock %}

<!---->
{%block content%}
<h1>TESTIMONIALS</h1>

<!--TESTIMONIALS-->
<div class="container">
  <div class="row m-3 g-0">
    <div class="card col-lg-4">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://images.pexels.com/photos/1391495/pexels-photo-1391495.jpeg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Claire</h5>
            <p class="card-text text-truncate">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-lg-4">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://images.pexels.com/photos/2901913/pexels-photo-2901913.jpeg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Louise</h5>
            <p class="card-text text-truncate">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
      |z
    </div>

    <div class="card col-lg-4">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://images.pexels.com/photos/1192609/pexels-photo-1192609.jpeg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Billy Boy</h5>
            <p class="card-text text-truncate">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
