<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      th,
      td {
        padding: 5px;
        border: 1px solid;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Información de Productos</h1>

    <table style="margin: 2px auto">
      <thead>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripcion</th>
        <th>Vencimiento</th>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{producto.nombre}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.f_vencimiento|default_if_none:"Dec. 31, 2099"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'productos:producto_create' %}">Agregar Producto</a>
  </body>
</html>
