<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Brand</h1>
    <a href="{% url 'brand_create' %}">Create Brand</a>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for element in brands %}
        <tr>
          <td>{{element.id}}</td>
          <td>{{element.name}}</td>
          <td><a href="{% url 'brand_edit' element.id %}">Editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
