{% extends 'base.html'%}
<!-- TITULO -->
{% block title %}Vehículos{% endblock %}

<!-- CONTENIDO -->
{% block content%}
<!-- LISTADO -->
<h1 class="text-center">Listado de Vehiculos</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Modelo</th>
      <th>Modelo</th>
      <th>Modelo</th>
      <th>Modelo</th>
      <th>Condición de Precio</th>
    </tr>
  </thead>
  <tbody>
    {% for element in vehiculos %}
    <tr>
      <td>{{element.id}}</td>
      <td>{{element.marca}}</td>
      <td>{{element.modelo}}</td>
      <td>{{element.serial_carroceria}}</td>
      <td>{{element.serial_motor}}</td>
      <td>{{element.categoria}}</td>
      <td>{{ element.precio|floatformat }}</td>
      <td>{{element.condicion}}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
