{%extends 'general/base.html'%} {%block title%} Dashboard - Home {%endblock%}
{%block content%}
<h1>Orders - Details</h1>

<h2>Details: Order #66</h2>
<p>
  <b>Order 66</b>, also known as <b>Clone Protocol 66</b>, <b>Protocol 66</b>,
  or simply "<b>the Order</b>," was one of top-secret
  <a
    href="https://starwars.fandom.com/wiki/Executive_Order_Codes_for_the_Grand_Army_of_the_Republic"
    title="Executive Order Codes for the Grand Army of the Republic"
    >contingency orders</a
  >
  that identified all
  <a href="https://starwars.fandom.com/wiki/Jedi" title="Jedi">Jedi</a> as
  <a href="https://starwars.fandom.com/wiki/Treason" title="Treason"
    >traitors</a
  >
  to the
  <a
    href="https://starwars.fandom.com/wiki/Galactic_Republic"
    title="Galactic Republic"
    >Galactic Republic</a
  >
  and, therefore, subject to
  <a href="https://starwars.fandom.com/wiki/Death_penalty" title="Death penalty"
    >summary execution</a
  >
  by the
  <a
    href="https://starwars.fandom.com/wiki/Grand_Army_of_the_Republic"
    title="Grand Army of the Republic"
    >Grand Army of the Republic</a
  >. The order was programmed into the Grand
  <a href="https://starwars.fandom.com/wiki/Army" title="Army">Army</a>
  <a href="https://starwars.fandom.com/wiki/Clone_trooper" title="Clone trooper"
    >clone troopers</a
  >
  through
  <a
    href="https://starwars.fandom.com/wiki/Behavioral_modification_biochip"
    title="Behavioral modification biochip"
    >behavioral modification biochips</a
  >
  implanted in their
  <a href="https://starwars.fandom.com/wiki/Brain" title="Brain">brains</a>,
  making it almost impossible for the
  <a href="https://starwars.fandom.com/wiki/Cloning" title="Cloning">clones</a>
  to disobey the command to turn against their
  <a href="https://starwars.fandom.com/wiki/Jedi_General" title="Jedi General"
    >Jedi Generals</a
  >. The
  <a href="https://starwars.fandom.com/wiki/Kaminoan" title="Kaminoan"
    >Kaminoan</a
  >
  <a href="https://starwars.fandom.com/wiki/Scientist" title="Scientist"
    >scientists</a
  >
  who designed the clone
  <a href="https://starwars.fandom.com/wiki/Trooper" title="Trooper"
    >troopers</a
  >
  believed it was only to be used as a contingency protocol against renegade
  Jedi. In secret, Order 66 was the means by which the
  <a href="https://starwars.fandom.com/wiki/Sith" title="Sith">Sith</a> intended
  to bring about the
  <a
    href="https://starwars.fandom.com/wiki/Timeline_of_galactic_history"
    title="Timeline of galactic history"
    >long-awaited</a
  >
  fall of the
  <a href="https://starwars.fandom.com/wiki/Jedi_Order" title="Jedi Order"
    >Jedi Order</a
  >.
</p>
<p>
  During the
  <a href="https://starwars.fandom.com/wiki/Clone_Wars" title="Clone Wars"
    >Clone Wars</a
  >, the Sith agenda was progressing relatively unnoticed until a
  <a
    href="https://starwars.fandom.com/wiki/Battle_of_Ringo_Vinda"
    title="Battle of Ringo Vinda"
    >premature activation</a
  >
  of Order 66 resulted in the
  <a href="https://starwars.fandom.com/wiki/Death" title="Death">death</a> of
  <a href="https://starwars.fandom.com/wiki/General" title="General">General</a>
  <a href="https://starwars.fandom.com/wiki/Tiplar" title="Tiplar">Tiplar</a> at
  the hands of
  <a href="https://starwars.fandom.com/wiki/Tup" title="Tup">Tup</a>, a
  defective clone whose malfunctioning chip caused him to turn against his Jedi
  <a href="https://starwars.fandom.com/wiki/Officer" title="Officer">officer</a
  >. The incident led
  <a
    href="https://starwars.fandom.com/wiki/Advanced_Recon_Commando"
    title="Advanced Recon Commando"
    >ARC trooper</a
  >
  <a href="https://starwars.fandom.com/wiki/Fives" title="Fives">Fives</a> to
  conduct his own investigation into the matter, believing the incident to be a
  <a
    href="https://starwars.fandom.com/wiki/Confederacy_of_Independent_Systems"
    title="Confederacy of Independent Systems"
    >Separatist</a
  >
  plot against the Republic. On the
  <a href="https://starwars.fandom.com/wiki/Galaxy" title="Galaxy">galactic</a>
  <a href="https://starwars.fandom.com/wiki/Capital" title="Capital">capital</a>
  <a href="https://starwars.fandom.com/wiki/Coruscant" title="Coruscant"
    >Coruscant</a
  >, however, he learned that the chips conditioned the clones to become hostile
  against the Jedi. Furthermore, he discovered to an extent
  <a
    href="https://starwars.fandom.com/wiki/Supreme_Chancellor"
    title="Supreme Chancellor"
    >Supreme Chancellor</a
  >
  <a href="https://starwars.fandom.com/wiki/Darth_Sidious" title="Darth Sidious"
    >Sheev Palpatine's</a
  >
  involvement in the conspiracy and
  <a
    href="https://starwars.fandom.com/wiki/Escape_from_the_Grand_Republic_Medical_Facility"
    title="Escape from the Grand Republic Medical Facility"
    >attempted</a
  >
  to
  <a href="https://starwars.fandom.com/wiki/Assassin" title="Assassin"
    >assassinate</a
  >
  him. Fives told what he knew to his Jedi superior
  <a
    href="https://starwars.fandom.com/wiki/Anakin_Skywalker"
    title="Anakin Skywalker"
    >Anakin Skywalker</a
  >, but before the clone could prove it, he was
  <a
    href="https://starwars.fandom.com/wiki/Mission_to_Level_1325"
    title="Mission to Level 1325"
    >killed</a
  >
  by
  <a
    href="https://starwars.fandom.com/wiki/Imperial_shock_trooper"
    title="Imperial shock trooper"
    >clone shock troopers</a
  >
  of the
  <a
    href="https://starwars.fandom.com/wiki/Coruscant_Guard"
    title="Coruscant Guard"
    >Coruscant Guard</a
  >.
</p>
<p>
  The plan continued apace for the remainder of the war, although the
  <a
    href="https://starwars.fandom.com/wiki/Jedi_High_Council"
    title="Jedi High Council"
    >Jedi High Council</a
  >
  had grown increasingly wary of the Chancellor's motives. In
  <a href="https://starwars.fandom.com/wiki/19_BBY" title="19 BBY">19 BBY</a>, a
  group of
  <a href="https://starwars.fandom.com/wiki/Jedi_Master" title="Jedi Master"
    >Jedi Masters</a
  >
  sought to
  <a
    href="https://starwars.fandom.com/wiki/Duel_in_Palpatine%27s_office"
    title="Duel in Palpatine's office"
    >arrest Palpatine</a
  >
  upon learning his true identity as the
  <a href="https://starwars.fandom.com/wiki/Sith_Lord" title="Sith Lord"
    >Sith Lord</a
  >
  <a href="https://starwars.fandom.com/wiki/Darth" title="Darth">Darth</a>
  Sidious. When their efforts failed, Palpatine used the incident to frame the
  Jedi Order for treason and, as such, directed the clone army to execute their
  Jedi
  <a
    href="https://starwars.fandom.com/wiki/Commanding_officer"
    title="Commanding officer"
    >commanding officers</a
  >
  in accordance with Order 66.
</p>
<p>
  Across
  <a href="https://starwars.fandom.com/wiki/The_galaxy" title="The galaxy"
    >the galaxy</a
  >, thousands of Jedi were killed by their own
  <a href="https://starwars.fandom.com/wiki/Troop" title="Troop">troops</a>
  while the Chancellor's new
  <a
    href="https://starwars.fandom.com/wiki/Sith_apprentice"
    title="Sith apprentice"
    >apprentice</a
  >, the Sith
  <a href="https://starwars.fandom.com/wiki/Lord" title="Lord">Lord</a> Darth
  Vader, formerly Jedi Knight Anakin Skywalker, led the
  <a href="https://starwars.fandom.com/wiki/501st_Legion" title="501st Legion"
    >501st Legion</a
  >
  in a
  <a
    href="https://starwars.fandom.com/wiki/Operation:_Knightfall"
    title="Operation: Knightfall"
    >direct assault</a
  >
  on the
  <a
    href="https://starwars.fandom.com/wiki/Imperial_Palace"
    title="Imperial Palace"
    >Jedi Temple</a
  >
  of Coruscant. With the exception of a few surviving Jedi, such as
  <a href="https://starwars.fandom.com/wiki/Grand_Master" title="Grand Master"
    >Grand Master</a
  >
  <a href="https://starwars.fandom.com/wiki/Yoda" title="Yoda">Yoda</a>,
  <a href="https://starwars.fandom.com/wiki/Jedi_Master" title="Jedi Master"
    >Jedi Master</a
  >
  <a
    href="https://starwars.fandom.com/wiki/Obi-Wan_Kenobi"
    title="Obi-Wan Kenobi"
    >Obi-Wan Kenobi</a
  >, former
  <a href="https://starwars.fandom.com/wiki/Padawan" title="Padawan">Padawan</a>
  <a href="https://starwars.fandom.com/wiki/Ahsoka_Tano" title="Ahsoka Tano"
    >Ahsoka Tano</a
  >, Padawans
  <a href="https://starwars.fandom.com/wiki/Kanan_Jarrus" title="Kanan Jarrus"
    >Kanan Jarrus</a
  >
  and
  <a href="https://starwars.fandom.com/wiki/Cal_Kestis" title="Cal Kestis"
    >Cal Kestis</a
  >, and
  <a href="https://starwars.fandom.com/wiki/Jedi_Knight" title="Jedi Knight"
    >Jedi Knight</a
  >
  <a href="https://starwars.fandom.com/wiki/Cere_Junda" title="Cere Junda"
    >Cere Junda</a
  >, the
  <a
    href="https://starwars.fandom.com/wiki/Great_Jedi_Purge"
    title="Great Jedi Purge"
    >Great Jedi Purge</a
  >
  was largely accomplished through the initial activation of Order 66. Even
  after the initial onslaught, Order 66 still stood, and all Jedi, even people
  who might be Jedi, were to be killed on sight. Sidious would go on to
  consolidate his reign as
  <a
    href="https://starwars.fandom.com/wiki/Galactic_Emperor"
    title="Galactic Emperor"
    >Emperor</a
  >
  of the
  <a
    href="https://starwars.fandom.com/wiki/Galactic_Empire"
    title="Galactic Empire"
    >Galactic Empire</a
  >, ruling for
  <a
    href="https://starwars.fandom.com/wiki/Standard_decade"
    title="Standard decade"
    >decades</a
  >
  until the prophecy of the
  <a href="https://starwars.fandom.com/wiki/Chosen_One" title="Chosen One"
    >Chosen One</a
  >
  came to pass, marking the end of the Sith's rule and the restoration of
  balance in
  <a href="https://starwars.fandom.com/wiki/The_Force" title="The Force"
    >the Force</a
  >
  by <a href="https://starwars.fandom.com/wiki/4_ABY" title="4 ABY">4 ABY</a>.
</p>
{%endblock%}
